# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives: <br>
* List popular languages for Data Science.
* Try diferent cell types
* Learn markdown formating

Some of the popular languages that Data Scientists use are: <br>
<br>1. Python
<br>2. R
<br>3. SQL

Some of the commonly used libraries used by Data Scientists include: <br>
<br>1. Pandas
<br>2. NumPy
<br>3. SciPy

| Data Science Tools |
|:------:|
| Rstudio   |
| Anaconda   |
| vsCode   |

### Below are a few examples of evaluating arithmetic expressions in Python <br>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author <br>
Andres Chousal